<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>rosobjc-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>rosobjc-osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>rosobjc-osxTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>rosobjc-specs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>891F1C721770245400E4C321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>891F1C821770245400E4C321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>891F1CA01770255500E4C321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>891F1CB51770255500E4C321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>895127DE18D82BDC003C9190</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8972AE5C17EAC69800E74D4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8972AE6817EAC69900E74D4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
