{

//
// PARSER CONFIGURATION
//

// the default XML namespace
"XMLNS" = "http://www.xmlrpc.org";

/* have to check with Erik how we'll handle this
"DOCUMENT" = {
    class = "XREMethodCall";
};
*/

"*" = {
	class = MXStringElement;
	implicit = string;
};



//
// TOP LEVEL (methods)
//


methodCall = {
  class = XREMethodCall;
  container = YES;
  root = YES;
};

methodResponse = {
	class = XREMethodResponse;
	container = YES;
    root = YES;
};


//
// HIGH LEVEL TAGS
//


value = {
  class = XREValue;
  container = YES;
  implicit = ( { key = "value"; } );
};

array = {
  class = XREArray;
  container = YES;
};

struct = {
  class = XREStruct;
  container = YES;
};


//
// LOW LEVEL TAGS
//


methodName = {
  class = MXTextContainerElement;
  container = YES;
  implicit = ( { key = "methodName"; } );
};

fault = {
  class = MXContainerElement;
  container = YES;
  implicit = ( { key = "fault"; } );
};


params = {
  class = MXContainerElement;
  container = YES;
  implicit = ( { key = "params"; } );
};

param = {
  class = MXContainerElement;
  container = YES;
};


data = {
  class = MXContainerElement;
  container = YES;
};

member = {
  class = MXAutoContentContainerElement;
  container = YES;
  implicit = ( { key = "member"; } );
};

name = {
  class = MXTextContainerElement;
  container = YES;
  implicit = ( { key = "name"; } );
};


int = {
  class = MXTextContainerElement;
  container = YES;
  implicit = ( { key = "int"; } );
};

"i4" = {
  class = MXTextContainerElement;
  container = YES;
  implicit = ( { key = "int"; } );
};

boolean = {
  class = MXTextContainerElement;
  container = YES;
  implicit = ( { key = "boolean"; } );
};

string = {
  class = MXTextContainerElement;
  container = YES;
  implicit = ( { key = "string"; } );
};

double = {
  class = MXTextContainerElement;
  container = YES;
  implicit = ( { key = "double"; } );
};

"dateTime.iso8601" = {
  class = MXTextContainerElement;
  container = YES;
  implicit = ( { key = "dateTime.iso8601"; } );
};

"base64" = {
  class = MXTextContainerElement;
  container = YES;
  optional = ( "xr:objc-type" ); // our extension
  implicit = ( { key = "base64"; } );
};

}
